<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PROVÍAS Nacional | Ministerio de Transportes y Comunicaciones</title>
        <link rel="apple-touch-icon" sizes="57x57" href="~/Contents/ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/Contents/ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/Contents/ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/Contents/ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/Contents/ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/Contents/ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/Contents/ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/Contents/ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/Contents/ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="~/Contents/ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/Contents/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/Contents/ico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/Contents/ico/favicon-16x16.png">
        <link rel="manifest" href="~/Contents/ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="~/Contents/ico//ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="~/Contents/font-icons/css/fontawesome-all.css">
        <link rel="stylesheet" href="~/Contents/css/Login/login.css">
    </head>
    <body>
        <div class="container-login-c">
            <div class="container-login">   
                <div class="login-logo">
                    <img src="~/Contents/img/logo-382x62.png" class="img-responsive">
                </div>
                <div class="login-title">
                    Inicio de Sesión
                </div>
                <div class="login-form">
                    <div class="login-user-photo">
                        <img src="~/Contents/img/profile-login.png" class="img-responsive">
                    </div>
                    <form class="frm">
                        <input id="txtUsuario" class="frm-control frm-control-lg" type="text" placeholder="Usuario:">
                        <hr>
                        <input id="txtClave" class="frm-control frm-control-lg" type="password" placeholder="Contraseña:">
                        <hr>
                        <button id='btnAceptar' class="btn btn-2 btn-lg btn-eff-1 btn-block" type="button">Ingresar</button>
                    </form>
                </div>            
            </div>
        </div>
        <script src="~/Contents/js/global.js"></script>
        <script src="~/Contents/js/plugin/jquery-3.3.1.min.js"></script>
        <script src="~/Contents/js/Login/login.js"></script>
    </body>
</html>